@charset "UTF-8";

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #2f5b66;
  color: white;
  font-family: poppinsregular;
  max-width: 1000px;
  padding: 5px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

header {
  background-color: #132235;
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.quem_somos {
  background-color: white;
  color: black;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.quem_somos_conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}

.quem_somos_conteudo p {
  font-family: poppinsregular;
  font-size: 1.2em;
}

figure > img {
  margin: 10px;
}

.fale_conosco {
  background-image: url(../imagens/kitchen.jpg);
  background-size: cover;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  width: 100vw;
}

.fale_conosco_form {
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  padding: 0 20px 15px 20px;
  border-radius: 30px;
  margin: 0 auto;
}

.rodape {
  background-color: #132235;
  height: 100px;
  width: 100vw;
  padding: 20px 0;
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: center;
}

.icon {
  display: flex;
  gap: 2em;
  align-content: center;
  justify-content: center;
}

i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 4rem;
  color: white;
}

i:hover {
  color: #6ddad3;
}
/* Formulário  */

form [type="submit"] {
  height: 50px;
  width: 50%;
  background-color: #6ddad3;
  color: #132235;
  font-weight: bold;
}
form [type="submit"]:hover {
  cursor: pointer;
}

input {
  display: flex;
  max-width: 50vw;
  height: 20px;
  padding: 15px;
  border-radius: 20px;
  font-size: 15px;
  color: #132235;
}

textarea {
  border-radius: 5px;
  margin-bottom: 9px;
  padding: 0.2em;
  border: 1px solid #132235;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: block;
  width: 29em;
}

label {
  display: flex;
  max-width: 50vw;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 20px;
  border-radius: 3px;
  border: 1px 1px 1px rgba(0, 0, 0, 0.253);
  font-size: 1.6em;
  color: #132235;
}

li {
  display: inline-block;
  margin-right: 30px;
  font-size: 1.8rem;
}

a {
  color: white;
}

a:hover {
  color: #6ddad3;
  transition: 0.3s all;
}

h1 {
  display: flex;
  flex-direction: row;
  font-weight: 200;
  font-size: 56px;
  line-height: normal;
  font-family: poppinsmedium;
}

h2 {
  display: flex;
  flex-direction: row;
  font-size: 56px;
  line-height: 10px;
  font-family: poppinsmedium;
  line-height: normal;
  color: #132235;
}

span {
  color: #6ddad3;
}

p {
  margin: auto;
  max-width: 600px;
  font-family: "poppinslight", sans-serif;
  font-size: 2em;
  line-height: normal;
  color: #132235;
}

p strong {
  font-weight: bolder;
}
